<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Hello There. This file was changed from bitbucket
                    </p>
                </wm-html>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>